.try-it-today-product {
    margin: 78px 110px 0 110px;
    height: 420px;
    display: flex;
    justify-content: space-between;

    .try-it-today {
        font-size: 25px;
        line-height: 38px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Bebas Neue";
        margin: 30px 0 0 30px;
    }

    .try-it-today-info {
        font-size: 43px;
        display: block;
        line-height: 38px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Bebas Neue";
        margin: 0 0 0 30px
    }

    .block-big {
        width: 49%;
        background-image: url("/img/3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 16px;
    }

    .block-smail-2 {
        margin-left: 47px;
        width: 51%;
        display: flex;
        flex-direction: column;

        .top {
            background-image: url("/img/1.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 192px;
            border-radius: 16px;
            margin-bottom: 35px;
        }

        .bottom {
            background-image: url("/img/2.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 192px;
            border-radius: 16px;
        }
    }
}